body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ol,
ul {
    list-style-type: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: #4d5ae5;
}